@import 'setup';
@import 'palette';

// GROUP STYLES
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: $primaryFont;
  font-size: 25px;
  text-align: center;
  background-color: #262424;
  line-height: 1.6;
  color: white;
}

h1, h2, h3 {
  font-family: $secondaryFont;
  margin: 0;
}

h2, h3 {
  font-size: 55px;
  span {
    font-family: $primaryFont;
    font-size: 50px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
  }
}

header, .userInputs, .end {
  height: 100vh;
}

.end, .userInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// BUTTON STYLES
button {
  font-family: $secondaryFont;
  font-size: 20px;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  margin-top: 15px;
  border: none;
  transition: .4s;
}

button:hover {
  font-size: 18px;
  border-radius: 25px;
}

// FIRST SECTION

.boxContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: white;
  font-size: 130px;
  line-height: 98px;
  letter-spacing: -14px;
}

.box2 {
  background: #70CE63;
}

.box3 {
  background: #38618C;
}

i {
  font-size: 105px;
}

.box4 {
  background: #E63946;
  p {
    width: 70%;
  }
}

.box1, .box2, .box3, .box4 {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// MIDDLE SECTION
.flexed {
  display: flex;
  padding: 10px;
}

.insideFlex {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  label {
    font-size: 20px;
  }
}

::placeholder {
  font-size: 10px;
  text-align: center;
  color: white;
}

.labels {
  width: 30%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  width: 18%;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  margin: 10px 8px;
}

input[type=text] {
  color: white;
  font-size: 15px;
  text-align: center;
}

input:focus, button:focus {
  border: 2px dotted $primaryColor;
}

// LAST SECTION
.story {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


// MEDIA QUERIES
/* Portrait tablet and small desktops */
@media (max-width: 915px) {
  h1 {
    font-size: 12vw;
    letter-spacing: -10px;
    line-height: 94px;
  }

  i {
    font-size: 13vw;
    padding: 30px 0;
  }
}

@media (max-width: 565px) {
  h1 {
    font-size: 22vw;
  }

  .boxContainer {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .box1, .box2, .box3, .box4 {
    width: 100%;
  }

  .box1 {
    height: 35%;
  }

 .box2 {
   height: 20%;
   background: #38618C;
 }

  .box3 {
    display: none;
  }

  .box4 {
    height: 30%;
  }

  button {
    margin: 15px 0px;
  }

  .labels {
    display: none;
  }

  input {
    display: flex;
  }

  .userInputs {
    height: 100%;
  }

  .flexed {
    flex-direction: column;
    padding: 0px;
  }

  .inputs {
    width: 100%;
    padding: 0px 60px;
  }

  input {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 0px;
  }

}